/.ddev/config.yaml
/.idea/
/.settings/
/nbproject/

/vendor/
/node_modules/

composer.phar
package-lock.json

Desktop.ini
Thumbs.db

.DS_Store

# Environment files with sensitive data
config/stripe.env
.env
*.env
